<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Routes and Geolocation</title>
    <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">   
  </head>

  <body class="page-template page-template-tpl_googlemaps page-template-tpl_googlemaps-php page page-id-1877">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Routes and Geolocation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">How it Works?</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {{#if user}}
              <li class="nav-item">
                <a class="nav-link" href="/points/add">Add a Point on the Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/points">All Points Added</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/routes">Routes Shared</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/users/signin">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/signup">Register</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container p-5">
      
      <!-- Messages -->
      {{#if success_msg }}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{success_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}

      {{#if error_msg }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{error_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}

      {{#if error }}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{error}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {{/if}}

      <!-- Errors -->
      {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{text}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {{/each}}

      {{{ body }}}
    </main>
    
    <!-- Scritps -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
